
{% extends 'base.html.twig' %}

{% block title %}En Savoir Plus{% endblock %}

{% block body %}
    <div class="container">
        <h2>Mes Passions et Passe-temps</h2>

        <div class="mb-4">
            <h4>Sport</h4>
            <img src="lien_de_l_image_sport.jpg" alt="Sport Image" class="img-fluid mb-2">
            <p>
                En dehors du monde du développement, je suis passionné par le sport.
                J'aime particulièrement le football et le tennis. Que ce soit en regardant
                des matchs ou en pratiquant moi-même, le sport est une partie importante de ma vie.
            </p>
        </div>

        <div class="mb-4">
            <h4>Lecture</h4>
            <img src="lien_de_l_image_lecture.jpg" alt="Lecture Image" class="img-fluid mb-2">
            <p>
                La lecture est une de mes grandes passions. Je m'intéresse à une variété de genres,
                allant de la fiction à la non-fiction. Je trouve que la lecture est une excellente
                façon d'explorer de nouveaux mondes et d'acquérir de nouvelles connaissances.
            </p>
        </div>

        <div class="mb-4">
            <h4>Musique</h4>
            <img src="lien_de_l_image_musique.jpg" alt="Musique Image" class="img-fluid mb-2">
            <p>
                La musique occupe également une place importante dans ma vie. J'aime explorer différents
                genres musicaux, que ce soit en écoutant des albums, en allant à des concerts, ou même
                en jouant d'un instrument de temps en temps.
            </p>
        </div>

        <!-- Ajoutez d'autres passions et passe-temps au besoin -->
    </div>
{% endblock %}
